---
layout: default
---

<div class="grid-2-3">
  <div class="col mb-1">
    <img class="darryl-lg" src="assets/darryl-lg.jpg" alt="Darryl Silvestri">
    <img class="darryl-sm" src="assets/darryl-sm.jpg" alt="Darryl Silvestri">
  </div>
  <div class="col">
    <h1 class="mt-0 mb-0">Darryl Silvestri</h1>
    <p class="text-sm editable">Registered Psychotherapist | MSc, RP</p>
    <h2 class="editable">Life is hard. And we all need help along the way.</h2>
    <p class="lead editable">I work with couples, families, and individuals to develop solutions that fit each person's path to healing and wholeness. My hopeful curiosity sheds light on new perspectives and possibilities for people who feel stuck in their situation.</p>
    <p class="editable">I've worked with clients experiencing a variety of mental and relational health issues including depression, anxiety, grief and loss, infidelity, relational problems, parenting challenges, blended family issues, life transitions, career shifts, and many more.</p>
  </div>
</div>

<div class="grid-3-3 grid-border">
  <div class="col mb-2">
    <h3 class="text-base text-uppercase mb-1">Location</h3>
    <address>
      179 Christina St. N.<br>
      Sarnia, ON<br>
      <a class="text-sm" href="https://goo.gl/maps/myLNCodZ8Hz" title="View in Google Maps">Directions &nearr;</a>
    </address>
  </div>
  <div class="col mb-2">
    <h3 class="text-base text-uppercase mb-1">Contact</h3>
    <ul class="list-unstyled">
      <li>519-330-0159</li>
      <li><a href="mailto:info@darrylsilvestri.com" title="Email Darryl">info@darrylsilvestri.com</a></li>
    </ul>
  </div>
  <div class="col mb-2">
    <h3 class="text-base text-uppercase mb-1">More Info</h3>
    <a class="btn text-sm" href="https://www.psychologytoday.com/ca/therapists/darryl-silvestri-sarnia-on/376575" title="Darryl Silvestri on Psychology Today">Psychology Today Profile &nearr;</a>
  </div>
</div>

<div class="form-area grid-border mb-2">
  <h2 class="mt-0">Start a conversation.</h2>
  <form action="https://formcarry.com/s/HJgQiyw3z" method="POST" accept-charset="UTF-8" >
    <label for="firstName">First Name</label>
    <input type="text" name="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">
    <label for="email">Your Email</label>
    <input type="email" name="email">
    <label for="message">Message</label>
    <textarea name="message" rows="10"></textarea>
    <button type="submit">Send</button>
    <input type="hidden" name="_gotcha">
  </form>
</div>
